<div data-role="page" id="eventpage">

	<div data-role="header">
		<%= link_to 'Back', events_path,
			:'data-transition' => 'slide', :'data-direction' => 'reverse',
			:class => 'ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left' %>
		<h1>Kiki app</h1>
		<a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add</a>
	</div>

	<div data-role="main" class="ui-content">

		Event:
		<%= @event.name %>
		
	</div>  

</div>  
